/* Reset básico e configurações */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do cabeçalho */
header {
    background-color: #aaaaaa;
    color: #000000;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.about-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.nav-name {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
    padding-top: 80px;
}

.section {
    padding: 60px 20px;
}

/* Container principal dos cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Card padrão */
.card {
    position: relative;
    flex: 1 1 calc(50% - 20px); /* Ajuste inicial para 2 cards por linha */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: default;
    min-width: 250px;
    max-width: 350px;
    box-sizing: border-box;
    background: no-repeat center center; /* Definir a imagem de fundo */
    background-size: cover; /* Cobrir todo o card */
}

/* Conteúdo do card */
.card .card-content {
    position: relative;
    z-index: 2; /* Conteúdo acima da imagem */
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Mostrar conteúdo do card ao passar o mouse */
.card:hover .card-content {
    opacity: 1; /* Faz o conteúdo aparecer */
}

/* Aplicar imagem específica para cada card */
.card.card-sobre-mim {
    background-image: url('portifolio/img/holder.jpg');
}

.card.card-projetos {
    background-image: url('portifolio/img/foguete.png');
}

.card.card-competencias {
    background-image: url('portifolio/img/competencias.jpg');
}
.card.card-contato {
    background-image: url('portifolio/img/contato.jpg');
}

/* Grid de projetos dentro do card de projetos */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-item {
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.project-item.openProject {
    cursor: pointer;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.img-verify {
    max-width: 20px;
    margin: 10px;
}

.social-contacts {
    max-width: 30px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Estilos responsivos */
@media (max-width: 1440px) {
    .card {
        flex: 1 1 calc(25% - 20px); /* Ajusta para 4 cards por linha */
        max-width: calc(25% - 20px); /* Ajusta a largura máxima dos cards */
    }
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(33.333% - 20px); /* Ajusta para 3 cards por linha */
        max-width: calc(33.333% - 20px); /* Ajusta a largura máxima dos cards */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Ajusta para 2 cards por linha */
        max-width: calc(50% - 20px); /* Ajusta a largura máxima dos cards */
    }

    .navbar {
        justify-content: flex-start;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    /* Remover transições de hover em dispositivos móveis e garantir que o conteúdo seja visível */
    .card .card-content {
        opacity: 1;
    }

    /* Adicionar estilo para que o conteúdo do card sempre visível em dispositivos móveis */
    .card {
        cursor: default;
    }
}

@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        align-items: stretch; /* Melhorar o layout em dispositivos muito pequenos */
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .project-grid {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    }

    .project-item {
        padding: 10px;
        font-size: 14px; /* Ajuste de tamanho para melhor leitura em telas pequenas */
    }
}

/* Estilos do rodapé */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #eeeeee;
}

/* Botão de voltar ao topo */
#back-to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
}

#back-to-top:hover {
    background-color: #555;
}

/* Tema escuro */
.dark-theme {
    background-color: #0e0e0ee8;
}

.dark-theme header {
    background-color: #ffffff;
}

.dark-theme .home {
    background-color: #000000c7;
}

.dark-theme .about {
    background-color: #131313;
}

.dark-theme .projects {
    background-color: #000000;
}

.dark-theme nav ul li a, .dark-theme nav ul li button {
    color: #000000;
}

/* Efeito de digitação */
.typing-effect {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    white-space: pre-wrap;
    border-right: 3px solid #333;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    font-size: 1.2em;
    line-height: 1.5em;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

/* Acessibilidade e usabilidade em dispositivos móveis */
a, button {
    font-size: 16px;
    padding: 10px;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

a:focus, button:focus {
    outline: 2px solid #000000;
}

/* Ajustar a responsividade dos cards em dispositivos menores */
@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        align-items: stretch; /* Melhorar o layout em dispositivos muito pequenos */
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .project-grid {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    }

    .project-item {
        padding: 10px;
        font-size: 14px; /* Ajuste de tamanho para melhor leitura em telas pequenas */
    }
}

/* Melhorar a acessibilidade e a aparência do botão de voltar ao topo */
#back-to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
}

#back-to-top:hover {
    background-color: #555;
}
